NODE_ENV=development
PORT=
HOST_NAME=

REACT_URL=

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=123456
DB_NAME= kvil_fashion 
DB_ROOT_PASSWORD=

JWT_SECRET=
JWT_EXPIRESIN=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRESIN=

CLOUDINARY_NAME=
CLOUDINARY_KEY=
CLOUDINARY_SECRET=

GEMINI_API_KEY=

